<div class="container myContainer">

    <div class="card myCard"  style="background-color: brown; color:white">
        <a class="nav-link" routerLink="/guests" (click)="changeLink1()" style=" color:white">Guests</a>
    </div>
    <div class="card myCard"  style="background-color: brown; color:white">
        <a class="nav-link" routerLink="/orders" (click)="changeLink1()" style=" color:white">Orders</a>
    </div>
    <div class="card myCard" style="background-color: brown; color:white">
        <a class="nav-link" routerLink="/items" (click)="changeLink1()" style=" color:white">Items</a>
    </div>

</div>