<div class="container-fluid">

    <div>
       <h4 style="float: left; margin-top:10px; margin-bottom:10px;" href="#" >Orders</h4>
   </div>
   <div>
       <a class="btn btn-primary" style="color: white; float: right; margin-top:10px; margin-bottom:10px;" href="#"
           routerLink="/orders/new">Create</a>
   </div>
  
   <table class="table table-striped">
       <thead style="background-color: brown; color: white">
           <tr>
               <th scope="col">Guest</th>
               <th scope="col">Date</th>
               <th scope="col">Order</th>
               <!-- <th><i class="fa fa-eye fa-2x"></i></th> -->
           </tr>
       </thead>
       <tbody *ngFor="let appointment of appointments">
           <tr>
               <td>{{appointment.guest.guestName + " " + appointment.guest.guestSurname }}</td>
               <td>{{appointment.dte}}</td>
               <td>{{appointment.item.description}}</td>
               <!-- <td><a class="btn btn-dark" style="color: white" (click)="viewAppoinement(appointment.appointmentId)">View</a></td> -->
           </tr>
       </tbody>
   </table>
</div>