<div class="container-fluid">

    <div>
       <h4 style="float: left; margin-top:10px; margin-bottom:10px;" href="#" >Orders</h4>
   </div>
   <div>
       <a class="btn btn-primary" style="color: white; float: right; margin-top:10px; margin-bottom:10px;" href="#"
           routerLink="/orders/new">Create</a>
   </div>
  
   <table class="table table-striped">
       <thead style="background-color: brown; color: white">
           <tr>
               <th scope="col">Date</th>
               <th scope="col">Guest</th>
               <th scope="col">Order</th>
               <!-- <th><i class="fa fa-eye fa-2x"></i></th> -->
           </tr>
       </thead>
       <tbody *ngFor="let order of orders">
           <tr>
               <td>{{order.dte}}</td>
               <td>{{order.guest.guestName + " " + order.guest.guestSurname}}</td>
               <td>{{order.item.description + " @  R" + order.item.price}}</td>
           </tr>
       </tbody>
   </table>
</div>