<div class="container-fluid">

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color:brown">
  
      <a class="navbar-brand" style="color:white">Restaurant</a>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
  
          <li class="nav-item active hidden" id="patientsLink">
            <a class="nav-link" style="color:white" routerLink="/patients/list" (click)="changeLink1()">Guest</a>
          </li>
        </ul>
      </div>
  
    </nav>
  </div>